################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/TransactionCertificatePortal/CopilotIndices/17.13.431.34963/CodeChunks.db
/.vs/TransactionCertificatePortal/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/.vs/TransactionCertificatePortal/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/.vs/TransactionCertificatePortal/CopilotIndices/17.13.431.34963/SemanticSymbols.db
/.vs/TransactionCertificatePortal/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/.vs/TransactionCertificatePortal/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
/.vs/TransactionCertificatePortal/FileContentIndex/6ff15440-c9b1-4200-ba4b-771b95a636e6.vsidx
/.vs/slnx.sqlite
/.vs/TransactionCertificatePortal/FileContentIndex/1d13fee8-9c1a-4027-bcdb-ecc51a278e6a.vsidx
/.vs/TransactionCertificatePortal/FileContentIndex/95e6a371-1561-456c-9122-1ea0a758fbec.vsidx
/services/Service01/src/Service01/.vs/Service01/config/applicationhost.config
/services/Service01/src/Service01/.vs/Service01/CopilotIndices/17.13.431.34963/CodeChunks.db
/services/Service01/src/Service01/.vs/Service01/CopilotIndices/17.13.431.34963/CodeChunks.db-shm
/services/Service01/src/Service01/.vs/Service01/CopilotIndices/17.13.431.34963/CodeChunks.db-wal
/services/Service01/src/Service01/.vs/Service01/CopilotIndices/17.13.431.34963/SemanticSymbols.db
/services/Service01/src/Service01/.vs/Service01/CopilotIndices/17.13.431.34963/SemanticSymbols.db-shm
/services/Service01/src/Service01/.vs/Service01/CopilotIndices/17.13.431.34963/SemanticSymbols.db-wal
/services/Service01/src/Service01/.vs/Service01/DesignTimeBuild/.dtbcache.v2
/services/Service01/src/Service01/.vs/Service01/FileContentIndex/ea7fac33-8186-4be1-859a-aa5fec89ccd2.vsidx
/services/Service01/src/Service01/.vs/Service01/v17/.suo
/services/Service01/src/Service01/bin/Debug/net9.0/appsettings.Development.json
/services/Service01/src/Service01/bin/Debug/net9.0/appsettings.json
/services/Service01/src/Service01/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/services/Service01/src/Service01/bin/Debug/net9.0/Microsoft.OpenApi.dll
/services/Service01/src/Service01/bin/Debug/net9.0/Service01.deps.json
/services/Service01/src/Service01/bin/Debug/net9.0/Service01.dll
/services/Service01/src/Service01/bin/Debug/net9.0/Service01.exe
/services/Service01/src/Service01/bin/Debug/net9.0/Service01.pdb
/services/Service01/src/Service01/bin/Debug/net9.0/Service01.runtimeconfig.json
/services/Service01/src/Service01/bin/Debug/net9.0/Service01.staticwebassets.endpoints.json
/services/Service01/src/Service01/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/services/Service01/src/Service01/obj/Debug/net9.0/apphost.exe
/services/Service01/src/Service01/obj/Debug/net9.0/ref/Service01.dll
/services/Service01/src/Service01/obj/Debug/net9.0/refint/Service01.dll
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.AssemblyInfo.cs
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.AssemblyInfoInputs.cache
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.assets.cache
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.csproj.AssemblyReference.cache
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.csproj.BuildWithSkipAnalyzers
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.csproj.CoreCompileInputs.cache
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.csproj.FileListAbsolute.txt
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.csproj.Up2Date
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.dll
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.GeneratedMSBuildEditorConfig.editorconfig
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.genruntimeconfig.cache
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.GlobalUsings.g.cs
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.MvcApplicationPartsAssemblyInfo.cache
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.MvcApplicationPartsAssemblyInfo.cs
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.pdb
/services/Service01/src/Service01/obj/Debug/net9.0/Service01.sourcelink.json
/services/Service01/src/Service01/obj/Debug/net9.0/staticwebassets/msbuild.build.Service01.props
/services/Service01/src/Service01/obj/Debug/net9.0/staticwebassets/msbuild.buildMultiTargeting.Service01.props
/services/Service01/src/Service01/obj/Debug/net9.0/staticwebassets/msbuild.buildTransitive.Service01.props
/services/Service01/src/Service01/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/services/Service01/src/Service01/obj/Debug/net9.0/staticwebassets.build.json
/services/Service01/src/Service01/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/services/Service01/src/Service01/obj/Debug/net9.0/staticwebassets.removed.txt
/services/Service01/src/Service01/obj/project.assets.json
/services/Service01/src/Service01/obj/project.nuget.cache
/services/Service01/src/Service01/obj/Service01.csproj.nuget.dgspec.json
/services/Service01/src/Service01/obj/Service01.csproj.nuget.g.props
/services/Service01/src/Service01/obj/Service01.csproj.nuget.g.targets
